name: Scheduled Node.js Run

on:
    schedule:
        - cron: '0 5 * * 1-5'
    workflow_dispatch:

jobs:
    run-script:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: '22.16'

            - name: Install dependencies
              run: npm ci

            - name: Run script
              run: node send.js
